/* UserInfo Form variables
========================================================*/
/* UserInfo Form Basic Styles 
========================================================*/
#userinfo-form {
  position: relative;
  padding-top: 2px;
}
#userinfo-form .btn {
  margin-top: 31px;
  font-size: 16px;
}
#userinfo-form .btn + .btn {
  margin-left: 10px;
}
#userinfo-form label {
  display: block;
  float: left;
  position: relative;
  display: inline-block;
  width: 400px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 54px;
}
#userinfo-form label.message {
  margin-left: 0;
  width: 100%;
  position: relative;
  top: -1px;
}
#userinfo-form fieldset {
  border: none;
}
/* UserInfo Form Placeholder Styles 
========================================================*/
#userinfo-form ._placeholder {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: text;
  color: #323045;
}
#userinfo-form ._placeholder.focused {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
  box-shadow: 0px 0px 7px 0px rgba(237, 44, 53, 0.7);
}
#userinfo-form ._placeholder.hidden {
  display: none;
}
#userinfo-form .file ._placeholder {
  display: none;
}
/* UserInfo Form Input 
========================================================*/
#userinfo-form input[type='text'] {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color:transparent;
}
#userinfo-form input[type='button'] {
  width: 15%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  color: #323045;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin-left: 0px;
  margin-right:0px;
  margin-top:5px;
  border-color:#87858a; 
  border-width:thin; 
  background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}
/* userinfo Form Error messages
========================================================*/
#userinfo-form .empty-message,
#userinfo-form .error-message {
  position: absolute;
  right: 3px;
  top: -18px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
#userinfo-form .invalid .error-message,
#userinfo-form .empty .empty-message {
  height: 20px;
}
}
/* UserInfo Form File Input 
========================================================*/
#userinfo-form .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#userinfo-form input.form-control[disabled] {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
#userinfo-form input.form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#userinfo-form .input-group-btn:first-child > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0 -1px 0 0;
}
#userinfo-form .input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#userinfo-form .input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#userinfo-form .input-group .form-control:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#userinfo-form input.form-control,
#userinfo-form .input-group-btn {
  display: table-cell;
  border-collapse: separate;
  float: none !important;
}
#userinfo-form .input-group-btn label {
  width: auto;
  margin-left: -1px;
}
#userinfo-form .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
}
#userinfo-form .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
#userinfo-form .btn-default:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
#userinfo-form .btn-default:active,
#userinfo-form .btn-default:focus {
  outline-offset: -2px;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* UserInfo Form Textarea 
========================================================*/
#userinfo-form textarea {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #323045;
  height: 221px;
  background-color:transparent;
}
/* UserInfo Form Error messages
========================================================*/
#userinfo-form .empty-message,
#userinfo-form .error-message {
  position: absolute;
  right: 3px;
  top: -18px;
  color: red;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
}
#userinfo-form .invalid .error-message,
#userinfo-form .empty .empty-message {
  height: 20px;
}
/* UserInfo Form Processing Box
========================================================*/
#userinfo-form .contact-form-loader {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  background-image: url('../images/form-loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
}
#userinfo-form.processing .contact-form-loader {
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* UserInfo Form Modal 
========================================================*/
.modal-open {
  overflow: hidden;
}
#userinfo-form .modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#userinfo-form .modal h4 {
  font-size: 24px;
  color: #616070;
  text-transform: none;
  padding: 0;
  margin: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
  position: relative;
  z-index: 10;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-dialog {
  width: 600px;
  margin: 10px auto;
}

@media only screen and (max-width: 768px) {
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
}
/* UserInfo Form Close icon 
========================================================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
@media only screen and (max-width: 1199px) {
  #userinfo-form {
    padding-right: 0;
  }
  #userinfo-form label {
    width: 100%;
    margin: 0 !important;
    clear: left;
  }
}

/* UserInfo Form SELECT 
========================================================*/
#userinfo-form select {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color:transparent;
  font-family:"Microsoft YaHei UI";
}

/* Contact Form SELECT 
========================================================*/
#contact-form select {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #e3dfdf;
}

/****Lists****/
.list-2 {
  padding-top: 4px;
}
.list-2 li {
  position: relative;
  letter-spacing: -2px;
  font-size: 24px;
  line-height: 20px;
}
.list-2 li a {
  display: block;
  position: relative;
  padding: 13px 30px 18px 60px;
  color: #323045;
}
.list-2 li a .fa {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 17px;
  right: auto;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.list-2 li a:active {
  background-color: #88858a;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}
.list-2 li a:hover {
  color: #e8e6b9;
}
.list-2 li a:hover .fa {
  left: 90%;
}
.list-2 li span {
  position: absolute;
  background-color: #333146;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.list-2 li:hover span {
  width: 100%;
}

/******uploadadvertise*******/
#uploadadv input[type='text'] {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border-color:#87858a; 
  border-width:thin; background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}
.arttype {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  color: #323045;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 6px;
  margin-right:6px;
  margin-top:10px;
  border-color:#87858a; 
  border-width:thin; 
  background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}

.artinformation {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #323045;
  height: 221px;

}

.btn {
  margin-top: 31px;
  font-size: 16px;
}
.btn + .btn {
  margin-left: 10px;
}

#uploadadv input[type='date'] {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border-color:#87858a; 
  border-width:thin; background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}

.mainbox{
    overflow:hidden;
    position:relative;
}
.flashbox{
   overflow:hidden;
    position:relative;
}
.imagebox{
    text-align:right;position:relative;z-index:999;
}


.bitdiv{display:inline-block;width:18px;height:18px;margin:0 10px 10px 0px;cursor:pointer;float:right;}

* { margin:0; padding:0; word-break:break-all; }
a { color:#0287CA; text-decoration:none; }
 a:hover { text-decoration:underline; }
ul, li { list-style:none; }
fieldset, img { border:none; }
legend { display:none; }
em, strong, cite, th { font-style:normal; font-weight:normal; }
input, textarea, select, button { font:12px Helvetica, Arial, sans-serif; }
table { border-collapse:collapse; }
html { overflow:-moz-scrollbars-vertical; } /*Always show Firefox scrollbar*/
/* iFocus style */
#ifocus { width:100%; height:475px; margin:20px; border:1px solid #DEDEDE; background:#F8F8F8; }
 #ifocus_pic { display:inline; position:relative; float:left; width:78%; height:450px; overflow:hidden; margin:1.1% 0 0 1.1%; }
  #ifocus_piclist { position:absolute; }
  #ifocus_piclist li { width:155%; height:450px; overflow:hidden; }
  #ifocus_piclist img { width:65%; height:450px; }
 #ifocus_btn { display:inline; float:right; width:19%; margin:1% 1% 0 0; }
  #ifocus_btn li { width:100%; height:115px; cursor:pointer; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }
  #ifocus_btn img { width:98%; height:105px; margin:0.8% 0 0 0.55%; }
  #ifocus_btn .current { background: url(../images/ifocus_btn_bg.gif) no-repeat; opacity:1; -moz-opacity:1; filter:alpha(opacity=100); }
 #ifocus_opdiv { position:absolute; left:0; bottom:0; width:100%; height:60px; background:#000; opacity:0.5; -moz-opacity:0.5;filter:alpha(opacity=50); }
 #ifocus_tx { position:absolute; left:8px; bottom:8px; color:#FFF; }
  #ifocus_tx .normal { display:none; }