#uploadart input[type='text'] {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  color: #323045;
  height: 31px;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border-color:#87858a; 
  border-width:thin; background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}
.arttype {
  width: 100%;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  color: #323045;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 6px;
  margin-right:6px;
  margin-top:10px;
  border-color:#87858a; 
  border-width:thin; 
  background:none; 
  height:35px;
  font-family:'Microsoft YaHei UI';
}

.artinformation {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #323045;
  height: 221px;

}


.btn {
  margin-top: 31px;
  font-size: 16px;
}
.btn + .btn {
  margin-left: 10px;
}

#uploadart textarea {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  padding: 6px 27px 5px;
  outline: none;
  border: 1px solid #000;
  border: 1px solid rgba(50, 48, 69, 0.34);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #323045;
  height: 221px;
  background-color: #e3dfdf;
}

